$purple: #7b30f7;
$white: #fff;
$black: #111112;

@mixin splashScreen($width) {
    
    width: $width;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: $black;

    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        object-position: center;
    }

    h1 {
        width: 100%;
        text-align: center;
        color: $white;
    }
}

.splashScreen {
    @include splashScreen(100vw);
}

.smallSplashScreen {
    @include splashScreen(50vw);
}